h1, h2{
    color: black;
    background-color: cornflowerblue;
    text-align: center;
    margin-bottom: 10px;
}
p {
    margin-bottom: 20px; /* Puedes ajustar el valor según el espacio que desees */
}