body {
    /* Configuración del fondo */
    background-image: url('ruta/a/tu/gif.gif');
    background-size: cover; /* Esto ajusta el tamaño del GIF para cubrir todo el fondo */
    background-repeat: no-repeat; /* Esto evita que el GIF se repita */
}

h1{
    color: black;
    background-color: cornflowerblue;
}